<html lang="en">
  <head>
     <title>About me</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  	<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.0/css/amazeui.min.css">
  	<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  </head>
<body>
{% if not session['logged_in'] %}   
<div style="margin-left: 30cm ; margin-top: 0.2cm; font-size:13pt;display:inline">
      <button typle="button" class="btn bnt-default bnt-sm"><a href="{{ url_for('SignIn') }}"> <i class='fa fa-sign-in'></i> sign in </a>
      </button>
      <button typle="button" class="btn bnt-default bnt-sm"><a href="{{ url_for('SignUp') }}"> <i class='fa fa-pencil'></i> sign up </a></button>
    </div>
{% else %}
    <div class="dropdown" style="margin-left: 30cm ; margin-top: 0.2cm; font-size:13pt;display:inline">
      <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
        data-toggle="dropdown">
        <i class="fa fa-user fa-fw"></i>{{session['user']}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
          <i class="fa fa-archive"></i> Profile
          </a>
        </li>
        
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
          <i class='fa fa-area-chart'></i> Statistics
          </a>
        </li>
        
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
          <i class='fa fa-cog'></i>  Setting
          </a>
        </li>
      
        <li role="presentation" class="divider"></li>
        <li role="presentation">
         <a role="menuitem" tabindex="-1" href="{{ url_for('SignOut')}}"><i class="fa fa-sign-out"></i>Sign out</a>
        </li>
      </ul>
    </div>
{% endif %}




  <div style="margin-top: 0.3cm;margin-left:0.3cm;">
    <div style = "margin-left : 10pt;margin-top:1cm;font-size:15pt;">
      <ul class="nav nav-pills" style = "display:inline">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li class="active"><a href="{{ url_for('AboutPage') }}">About</a></li>
        <li><a href="{{ url_for('ContactPage') }}">Contact me</a></li>
      </ul>
    </div>
  </div>

<div style="text-align:center; margin-top:2cm">
<object classid="clsid:CA8A9780-280D-11CF-A24D-444553540000" width="10" height="12" border="0">  
    <param name="_Version" value="65539">  
    <param name="_ExtentX" value="20108">  
    <param name="_ExtentY" value="10866">  
    <param name="_StockProps" value="0">  
    <param name="SRC" value="pdf/test.pdf">  
    <object data="/static/img/resume.pdf" type="application/pdf" width="1000" height="1200" quality="high">   
    </object>  
</object>
</div>
<br><br><br><br>
</html>