<!DOCTYPE html>

<html>
<head>
  <title>Yo man! Sign in now!</title>
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<span style="vertical-align:top;padding-left:0.4cm;padding-bottom:0.3cm">
  <a href="{{url_for('index')}}" style="font-size:30pt;color:black;vertical-align:top">You'Blog</a>
</span> 
{% if session['admin'] %}

 <span class="dropdown" style="margin-left: 25cm ; margin-top: 0.2cm; font-size:13pt;display:inline">
      <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
        data-toggle="dropdown">
        <i class="fa fa-user fa-fw"></i>admin
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
         <li role="presentation">
          <a role="menuitem" tabindex="-1" href="{{url_for('Post')}}">
          <i class='fa fa-plus'></i> New Passage
          </a>
        </li>
      
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="{{ url_for('Edit') }}">
          <i class="fa fa-pencil"></i> Edit
          </a>
        </li>
        
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
          <i class='fa fa-area-chart'></i> Statistics
          </a>
        </li>
        
       
        <li role="presentation" class="divider"></li>
        <li role="presentation">
         <a role="menuitem" tabindex="-1" href="{{ url_for('SignOut')}}"><i class="fa fa-sign-out"></i>Sign out</a>
        </li>
      </ul>
    </span>

{% else %}

{% if not session['logged_in'] %}  
<span style="padding-left:25cm;;font-size:13pt;vertical-align:top">
      <button typle="button" class="btn bnt-default bnt-sm"><a href="{{ url_for('SignIn') }}"> <i class='fa fa-sign-in'></i> sign in </a>
      </button>
      <button typle="button" class="btn bnt-default bnt-sm"><a href="{{ url_for('SignUp') }}"> <i class='fa fa-pencil'></i> sign up </a></button>
</span>
{% else %}
    <span class="dropdown" style="margin-left: 25cm ; margin-top: 0.2cm; font-size:13pt;display:inline">
      <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
        data-toggle="dropdown">
        <i class="fa fa-user fa-fw"></i>{{session['user']}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
          <i class="fa fa-archive"></i> Profile
          </a>
        </li>
        
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
          <i class='fa fa-area-chart'></i> Statistics
          </a>
        </li>
        
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
          <i class='fa fa-cog'></i>  Setting
          </a>
        </li>
      
        <li role="presentation" class="divider"></li>
        <li role="presentation">
         <a role="menuitem" tabindex="-1" href="{{ url_for('SignOut')}}"><i class="fa fa-sign-out"></i>Sign out</a>
        </li>
      </ul>
    </span>
{% endif %}
{% endif %}

    <div style = "margin-left:10pt;margin-top:0.5cm;font-size:15pt;">
      <ul class="nav nav-pills" style = "display:inline">
        <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('AboutPage') }}">About</a></li>
        <li><a href="{{ url_for('ContactPage') }}">Contact me</a></li>
      </ul>
    </div>



<div style = "margin-left:12.5cm; margin-top:3cm">
{% for post in posts %}
  <dl class="dl-horizontal">
  <dt style="text-align:left"><a href="{{ url_for('displayPost', id = post.id) }}"><b style="font-size:13pt">{{post.title}}</b></a></dt>
  <dd> <span class="text-muted" style="font-size:10pt;vertical-align:bottom;margin-left:1cm">{{post.time}}</span></dd>

</dl>
{% endfor %}
</div>

<div class = "col-md-8 col-md-offset-2">
{% if display %}
    <h1 style="text-align:center">{{title}}</h1>
    {{text|safe}}
{% endif %}
<br>
<br><br>

{% if comments %}
<ul class="nav nav-tabs nav-justified">
   <li class="active"><a href="#">Comments</a></li>
   <li> </li>
   <li> </li>
   <li> </li>
   <li> </li>
   <li> </li>
   <li> </li>
   <li> </li>
   {% if session['logged_in'] %}
   <li style="text-align:right" class="dropdown"> 
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         {{session['user']}} <span class="caret"></span>
    </a>
      <ul class="dropdown-menu">
         <li><a href="#"><i class="fa fa-archive"></i> My comments</a></li>
         <li><a data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> New comments</a>  
          </li>
      </ul>
   </li>
   {% else %}
   <li class="divider"> <a href="{{ url_for('SignIn') }}"> Sign in to comment!</a></li>
   {% endif %}
</ul>
{% endif %}
<br>
{% for comment in allComment %}
    <div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">
         {{comment.user}} says:
      </h3>
   </div>
   <div class="panel-body">
      <p style="font-size:13pt">{{comment.content}}</p>
      <p class="text-muted" style="font-size:10pt;vertical-align:bottom;text-align:right">Comment @ {{comment.time}}</p>
   </div>
</div>
{% endfor%}
<br><br><br><br><br><br>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               Comment on this article
            </h4>
         </div>
         <div class="modal-body">
            <form method="post" role="form" action="{{ url_for('newComment', id = pid, user = session['user']) }}">
              <div class="form-group">
                <label for="name">comment</label>
                  <textarea class="form-control" rows="3" name='comment'></textarea>
              </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" 
                data-dismiss="modal">Close
              </button>
              <button type="submit" class="btn btn-primary">
                Submmit
              </button>
            </div>
            </form>
         </div>
         
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>


</body>
</html>